
# Managed Identity Configuration
AZURE_USE_MANAGED_IDENTITY=true
AZURE_CLIENT_ID=4b3d35bd-c085-4fac-86a3-58eab586eba7


REDIS_CLIENT=azure-mi


AZURE_MI_CACHE_STORE=file
AZURE_MI_REDIS_API_VERSION=2019-08-01
AZURE_MI_REDIS_RESOURCE=https://redis.azure.com



DB_USE_MANAGED_IDENTITY=true
DB_USERNAME=aks-sgs-tms-stg-dge-aen-001-agentpool
DB_SSLMODE=require

AZURE_MI_DB_RESOURCE=https://ossrdbms-aad.database.windows.net
AZURE_MI_DB_API_VERSION=2019-08-01
